// Define variables for your color scheme

// For example:
$red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
$green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;

// Project color pallete
$black: #030305;
$dark-gray: #393548;
$blue: #0E24AF;
$orange: #F7A910;
$brown: #A3650C;
$light-gray: #9D9EA3;
$white: #F5F5F6;
$gray: #7F8085;
$yellow: #FFCE45;


