.cocktail-container {
  background-color: $light-gray;
  background-image: asset-url('neonsign_concepts.webp');
  background-size: cover;
  height: 100vh;
  width: 1000px;
  color: $white;
  text-align: left;
  padding-top: 40vh;
}

.container {
  width: 100%;

}
